<% provide(:title, 'Help') %>
<div class="contentWrapper">
  <div class="container">
    <div class="featuredWrapper">          
      <div class="featuredSection">          
        <div class="featuredHeading">
          <h3>
            <span>Lakeway Marina</span>
            <span class="GBID0X4P2">Austin</span>
          </h3>        
          <h1>$40 for a Jet Ski, ski boat, or pontoon rental (up to $80 value)</h1>
        </div>      
      </div>
    </div>
  </div>
</div>