/****************** Footer Style **********************/
$footer_color: #999999;
$footer_border: 1px solid;

.footerBlock {
  border: $footer_border rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  margin-top: 10px;
  padding: 10px 20px;
  background-color: white;
}

.bottonWithText {
  float: left;
  margin: 3px 10px 0px 0px;
}

#footerLeft {
  float: left;
  margin-bottom: 10px;
  width: 50%;
  color: $footer_color;
}

#footerRight {
  float: left;
  border-left: $footer_border rgb(217, 217, 217);
  margin-bottom: 10px;
  padding-left: 10px;
  width: 48%;

  ul {
    float: left;
    margin-right: 10px;
    list-style-type: none;
    font-size: 11px;
    font-weight: 600;    
  }

  a {
    color: $footer_color;
  }
}

#footerBottom {
  border-top: $footer_border #EDEDED;
  padding-top: 10px;
  clear: both;
  text-align: center;
  color: $footer_color;
}